@model eCommerceWebsite.Models.ProductResult
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="col-md-12">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">

                        <div class="col-md-12" style="margin-top: 40px;">
                            <div class="row">
                                @Html.ActionLink("Home", "Index", "Home", null, new { @style = "color: #666666; text-decoration: underline;" }) > @Model.Category > @Model.Name
                            </div>
                            <div class="row" style="margin-top: 40px;">
                                <div class="col-md-7">
                                    <img src="@Model.ImageUrl" title="@Model.Name" style="width:100%; height: auto;" />
                                </div>
                                <div class="col-md-5">
                                    <h2>@Model.Name</h2>
                                    <hr />
                                    <h4>£@Model.Price</h4>
                                    <hr />
                                    <p>@Model.Description</p>
                                    <hr />
                                    <p>Quantity:</p>
                                    @using (Html.BeginForm("AddToBasket", "Store"))
                                    {
                                        @Html.Hidden("Id", Model.Id)
                                        @Html.Hidden("Category", Model.Category)
                                        <div style="width: 40%; float: left;">
                                            @Html.TextBoxFor(m => m.Quantity, new { @type = "number", @min = "1", @step = "1", @class = "form-control quantityValue", @style = "width: 100%;", @value = "1" })
                                        </div>
                                        <div style="width: 60%; float: left;">
                                            <span class="btn btn-success submit-button" style="width: 100%;"><span style="word-spacing: 3px;"class="glyphicon glyphicon-shopping-cart"></span><span>&nbsp;Add to basket</span></span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).on("click", ".submit-button", function () {
                console.log("asdasdasd");
                var form = $(this).closest("form");
                //console.log(form);
                form.submit();
            });
        });
    </script>
}