<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NugFace</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NugFace", "Index", "Home", null, new { @class = "navbar-brand logoNug" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bongs", "Browse", "Store", new { category = "Bongs" }, null)</li>
                    <li>@Html.ActionLink("Vapourizers", "Browse", "Store", new { category = "Vapourizers" }, null)</li>
                    <li>@Html.ActionLink("Papers", "Browse", "Store", new { category = "Papers" }, null)</li>
                    <li>@Html.ActionLink("Accessories", "Browse", "Store", new { category = "SmokingAccessories" }, null)</li>
                    <li>@Html.ActionLink("Paraphenalia", "Browse", "Store", new { category = "SmokingParaphenalia" }, null)</li>
                    <li>@Html.ActionLink("Sale", "Browse", "Store", new { category = "Sale" }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        
        <footer>
            <br />
            <hr />
            <p>&copy; @DateTime.Now.Year - NugFace Cannabis Supplies</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
